<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Detail</key>
		<string>Item detail Item detail Item detail Item detail Item detail Item detail</string>
		<key>Title</key>
		<string>Item Title</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Item detail Item detail Item detail Item detail Item detail Item detail</string>
		<key>Title</key>
		<string>Item Title</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Item detail Item detail Item detail Item detail Item detail Item detail</string>
		<key>Title</key>
		<string>Item Title</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Item detail Item detail Item detail Item detail Item detail Item detail</string>
		<key>Title</key>
		<string>Item Title</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Item detail Item detail Item detail Item detail Item detail Item detail</string>
		<key>Title</key>
		<string>Item Title</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Item detail Item detail Item detail Item detail Item detail Item detail</string>
		<key>Title</key>
		<string>Item Title</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Item detail Item detail Item detail Item detail Item detail Item detail</string>
		<key>Title</key>
		<string>Item Title</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Item detail Item detail Item detail Item detail Item detail Item detail</string>
		<key>Title</key>
		<string>Item Title</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Item detail Item detail Item detail Item detail Item detail Item detail</string>
		<key>Title</key>
		<string>Item Title</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Item detail Item detail Item detail Item detail Item detail Item detail</string>
		<key>Title</key>
		<string>Item Title</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Item detail Item detail Item detail Item detail Item detail Item detail</string>
		<key>Title</key>
		<string>Item Title</string>
	</dict>
</array>
</plist>
